.container {
  display: flex;
  flex-direction: column;
  background: var(--color-0);
  padding: 20px;
  border-radius: var(--border-radius);
  gap: 40px;
  margin-inline: 2rem;
}

.title {
  color: var(--color-5);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.experiences__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
