.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date {
  color: var(--color-4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.role {
  color: var(--color-6);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.company {
  color: var(--color-5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.description__item {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  color: var(--color-4);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .description__item {
    font-size: 12px;
  }
  .date {
    font-size: 10px;
  }
  .role {
    font-size: 12px;
  }
  .company {
    font-size: 10px;
  }
}
