.container {
  display: flex;
  flex-direction: column;
  background: var(--color-0);
  padding: 20px;
  border-radius: var(--border-radius);
  gap: 20px;
  margin-inline: 2rem;
}

.title {
  color: var(--color-5);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.skills__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .skills__list {
    flex-direction: column;
  }
  .title {
    font-size: 14px;
  }
}
