:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --color-0: #fff;
  --color-1: #f2f2f2;
  --color-2: #e0e0e0;
  --color-3: #c4c4c4;
  --color-4: #828282;
  --color-5: #4f4f4f;
  --color-6: #333;
  --color-7: #000;

  --color-blue: #2f80ed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-0: #000;
    --color-1: #0d0d0d;
    --color-2: #1f1f1f;
    --color-3: #3b3b3b;
    --color-4: #7d7d7d;
    --color-5: #b0b0b0;
    --color-6: #ccc;
    --color-7: #fff;

    --color-blue: #d07f12;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-2);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
